@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
0 - 600px :  phone
600px - 900px  :  tablet portrait mode
900px - 1200px :  tablet landscape
[1200 - 1800px]  :  default css
1800+ px: big desktop


$breakpoint argument  choices: 
- phone
- tab-port
- tab-land
- big-desktop

*/

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 37.5em) {
            //600
            @content;
        }
    }

    @if $breakpoint==tab-port {
        @media (max-width: 56.25em) {
            //900
            @content;
        }
    }

    @if $breakpoint==tab-land {
        @media (max-width: 75em) {
            //1200
            @content;
        }
    }

    @if $breakpoint==big-desktop {
        @media (min-width: 112.5em) {
            //1800
            @content;
        }
    }
}