.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, $alpha: 0.8);
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(2em);
    background-color: rgba($color-black, $alpha: 0.3);
  }
  &__content {
    @include centered;
    height: 50rem;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 1rem 4rem rgba($color-black, $alpha: 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.1);
    transition: all 0.4s 0.2s;
  }
  &__left {
    width: 33.33333%;
    transform: translateX(-1px);
    display: table-cell;
  }
  &__right {
    width: 66.666666%;
    padding: 3rem 5rem;
    display: table-cell;
    vertical-align: middle;
    position: relative;
  }
  &__img {
    display: block;
    width: 100%;
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-dark-2;
    hyphens: auto;
    -moz-hyphens: auto;
  }
  &:target {
    opacity: 1;
    visibility: visible;
  }
  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      line-height: 1;
    }
    &:hover {
      color: $color-primary;
    }
  }
}
